<div class="container mt-5" style="width: 30%">
    <div class="card mb-5">
        <div class="card-header text-center">Registrar rendimiento</div>
        <div class="card-body">
            <form action="/inter2" method="post" id="caja-registro">
                 <div class="input-group mb-3">
                    <select name="ninio" id="ninio" class="form-select">
                        <option value="0" selected disabled>
                            Seleccione el niño
                        </option>
                        {{#each datos}}
                            <option value="{{id}}">{{nombre}}
                                </option>
                        {{/each}}
                       
                    </select>
                </div>
                <br>
                 <div class="input-group mb-3">
                    <select name="actividad" id="actividad" class="form-select">
                        <option value="0" selected disabled>
                            Seleccione la actividad
                        </option>
                        {{#each actividad}}
                            <option value="{{id}}">{{nombre}}
                                </option>
                        {{/each}}
                    </select>
                </div>
                <br>
                <br>
                 <div class="input-group mb-3">
                    <select name="rendimient" id="rendimient" class="form-select">
                        <option value="0" selected disabled>
                            Seleccione el rendimiento
                        </option>
                        {{#each rendimiento}}
                            <option value="{{id}}">{{nombre}}
                                </option>
                        {{/each}}
                    </select>
                </div>
                <br>
                <div class="input-group mb-3">
                    
                    <br><br>
                    <input maxlength="200" name = "obser" id= "obser " type="text" class="form-control" placeholder="Observaciones"required>
                </div>
                <br><br>
                 <div class="text-center">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        
                    >
                        Registrar
                    </button>
                </div>
</form>
        </div>
    </div>
</div>

